<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf0_4Z4jejG_2eg273DSRWtFgwlujI8iU</string>
	<key>GCM_SENDER_ID</key>
	<string>644371332922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rohan.app.amazon</string>
	<key>PROJECT_ID</key>
	<string>clone-a1a2e</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-a1a2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644371332922:ios:b1ab471f7f02425b62da03</string>
</dict>
</plist>